<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - ELO</title>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46146363-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-46146363-4');
        </script>
        <meta name="author" content="Epic Solutions" />
        @*<open-graph-website site-name="BiblioMit"
                                    title="@ViewData["Title"]"
                                    main-image="@(new OpenGraphImage(
                Url.Content("~/android-chrome-512x512.png"),
                "image/png",
                1200,
                630))"
                                    determiner="@OpenGraphDeterminer.Blank" />
                <script type="application/ld+json">
                    @{
                        var website = new WebSite()
                        {
                            AlternateName = "Programa Tecnológico Producción de Semilla y Repoblamiento de Erizo Rojo y Loco para Potenciar la Diversificación de la Acuicultura Nacional.",
                            Name = "ELO - " + (string)ViewData["Title"],
                            Url = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")
                        };
                        var jsonLd = website.ToString();
                    }
                    @Html.Raw(jsonLd)
                </script>
                @Html.Raw(new TwitterCardSummaryLargeImage
            {
                Title = "Programa ELO Chile",
                Description = "Programa Tecnológico Producción de Semilla y Repoblamiento de Erizo Rojo y Loco para Potenciar la Diversificación de la Acuicultura Nacional",
                CreatorUsername = "@elochile",
                SiteUsername = "@elochile"
            })*@
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css">
    <partial name="_Favicons" />
    <partial name="_LO_Libs" model='new List<string> { "jquery", "bootstrap", "@fortawesome/fontawesome-free", "site.min.css", "site.min.js", "modal-action.min.js" }' />
    @this.LO_WriteStyleBlocks()
    @this.WriteStyleBlocks()
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v3.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="611225579233083"
         theme_color="#6699cc">
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="main-wrapper-first">
        <header>
            <div class="container">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <div class="main-menubar d-flex align-items-center">
                            <nav class="hide">
                                <a href="index.html">Home</a>
                                <a href="generic.html">Generic</a>
                                <a href="elements.html">Elements</a>
                            </nav>
                            <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container-fluid body-content main-wrapper">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-4 align-self-end">
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://www.epicsolutions.cl">
                            <img src="~/epic_light_hor.svg" alt="epic solutions" class="img-responsive" height="20" />
                        </a>
                    </div>
                    <div class="col">
                        <p class="text-right">
                            &copy; @DateTime.Now.Year - ELO
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @this.LO_WriteScriptBlocks()
    @RenderSection("ScripTop", required: false)
    @this.WriteScriptBlocks()
    @RenderSection("Scripts", required: false)
</body>
</html>
