@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"]</h2>
<h4>Asociar su cuenta @ViewData["LoginProvider"].</h4>
<hr />

<p class="text-info">
    Se ha autenticado correctamente con <strong>@ViewData["LoginProvider"]</strong>.
    Por favor ingresa una direcci&oacute;n de correo electr&oacute;nico para este sitio y haz clic en el bot&oacute;n Registrar para continuar
    con su inicio de sesi&oacute;n.
</p>

<div class="row">
    <div class="jumbotron">
        <img src="@Model.ProfileImageUrl" />
        @*<form asp-controller="home" asp-action="upload" asp-antiforgery="false"
                  class="dropzone" id="UploadForm" enctype="multipart/form-data">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>*@
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last"></label>
                <input asp-for="Last" class="form-control" />
                <span asp-validation-for="Last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImageUrl"></label>
                <br />
                <input asp-for="ProfileImageUrl" class="form-control" />
                <span asp-validation-for="ProfileImageUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Registrarse</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
