<div class="btn-group d-flex" role="group" aria-label="Paging">
    <a asp-action="Index"
       asp-route-q="@ViewData["q"]"
       asp-route-pg="1"
       asp-route-src="@ViewData["srcs"]"
       asp-route-srt="@ViewData["srt"]"
       asp-route-asc="@ViewData["asc"]"
       class="paging btn btn-outline-secondary w-100 @ViewData["prevDisabled"]" role="button">
        &laquo;<text class="hidden-xs hidden-s hidden-sm"> Primera</text>
    </a>
    <a asp-action="Index"
       asp-route-q="@ViewData["q"]"
       asp-route-pg="@((int)ViewData["pg"]) - 1)"
       asp-route-src="@ViewData["srcs"]"
       asp-route-srt="@ViewData["srt"]"
       asp-route-asc="@ViewData["asc"]"
       class="paging btn btn-outline-secondary w-100 @ViewData["prevDisabled"]" role="button">
        &lsaquo;<text class="hidden-xs hidden-s hidden-sm"> Anterior</text>
    </a>
    @if ((int)ViewData["low"] > 1)
    {
        <a class="paging btn btn-outline-secondary w-100 disabled" role="button"><text>&hellip;</text></a>
    }
    @for (int i = (int)ViewData["low"]; i <= (int)ViewData["high"]; i++)
    {
        var disabled = "";
        if (i == (int)ViewData["pg"])
        {
            disabled = "disabled";
        }
        <a asp-action="Index"
           asp-route-q="@ViewData["q"]"
           asp-route-pg="@i"
           asp-route-src="@ViewData["srcs"]"
           asp-route-srt="@ViewData["srt"]"
           asp-route-asc="@ViewData["asc"]"
           class="paging btn btn-outline-secondary w-100 @disabled" role="button">
            @i
        </a>
    }
    @if ((int)ViewData["NoPages"] > (int)ViewData["high"])
    {
        <a class="paging btn btn-outline-secondary w-100 disabled" role="button"><text>&hellip;</text></a>
    }
    <a asp-action="Index"
       asp-route-q="@ViewData["q"]"
       asp-route-pg="@((int)ViewData["pg"]) + 1)"
       asp-route-src="@ViewData["srcs"]"
       asp-route-srt="@ViewData["srt"]"
       asp-route-asc="@ViewData["asc"]"
       class="paging btn btn-outline-secondary w-100 @ViewData["nextDisabled"]" role="button">
        <text class="hidden-xs hidden-s hidden-sm">Siguiente </text>&rsaquo;
    </a>
    <a asp-action="Index"
       asp-route-q="@ViewData["q"]"
       asp-route-pg="@ViewData["NoPages"]"
       asp-route-src="@ViewData["srcs"]"
       asp-route-srt="@ViewData["srt"]"
       asp-route-asc="@ViewData["asc"]"
       class="paging btn btn-outline-secondary w-100 @ViewData["nextDisabled"]" role="button">
        <text class="hidden-xs hidden-s hidden-sm">Última </text>&raquo;
    </a>
</div>